:root {
	--background-colour: rgb(209, 239, 253);
	--authentication-window-colour: rgb(28, 1, 47);
	--default-page-font-colour: black;
	--default-component-font-colour: white;
	--default-button-colour: rgb(2, 123, 123);
}
